body {
	font-family: 'Open Sans', sans-serif;
	background-color: #247;
	font-size: 17px;
	background-image: url("../img/pw_maze_black.png");
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #666;
	margin: 0;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 25px;
	color: #99A;
	margin: 0;
	font-style: italic;
}

	.resume h2 {
		border-bottom: solid;
		max-width: 600px;
		margin-bottom: 5px;
		padding-left: 15px;
	}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	font-style: italic;
	color: #889;
	margin: 0;
	padding-top: 5px;
}

.logo img{
	margin-left: 20px;
}

.flag {
	width: 16px;
	height: 11px;
	background: url(../img/flags2.png) no-repeat;
	display: inline-block;
	cursor: pointer;
}

	.flags {
		margin: 0 5px 5px 5px;
	}

	.flag.active {
		background: url(../img/flags.png) no-repeat;
	}

	.flag.flag-gb {
		background-position: -16px 0;
	}
	.flag.flag-pt {
		background-position: 0 -11px;
	}


.bio, .contact {
	line-height: 150%;
	padding-right: 20px;
}

.pt{
	display: none;
}

.nav {
	font-size: 13px;
	font-weight: bold;
	background-color: #eee;
}

a {
	color: #247;
}

a:hover {
	color: #134;
}

.nav > .active > a, .nav > .active > a:hover { 
	outline: 0;
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	cursor: default;
}

	.nav > li > a:hover{
		background-color: #ddd;
	}

    .nav-lang > .en, .nav-lang > .pt{
		font-size: 90%;
    	display: inline;
    	padding-left: 5px;
		line-height: 25px;
    }

	div.icon {
		float: left;
		line-height: 25px;
		width: 25px;
		text-align: center;
		margin-right: 10px;
	}

.container{
	background-color: #FFF;
	box-shadow: 0px 10px 10px #000;
}

.tooltip{
	font-family: sans-serif;
	font-size: 10px;
}

.bio {
	text-indent: 10px;
	text-align:justify;
}


.gravatar {
 	text-align: center;	
}

	.gravatar img {
    	width: 100%;
	}


.timeline {
	text-align: left;
}
	.timeline ul {
		list-style: none;
		background-image: url("../img/timeline.png");
		background-repeat: repeat-y;
		background-position: 7px 0px;
		margin: 10px;
	}

	.timeline li {
		background: url("../img/list-solid.png") no-repeat left top;
		font-weight: bold;
		font-size: 10px;
		padding: 0 0 10px 20px;
	}

		.timeline li.expected {
			background: url("../img/list-dash.png") no-repeat left top;
		}

	.timeline ul li p {
		margin:  -5px 0 0 10px;
		padding: 0 0 0 0;
	}

	.timeline li:hover {
		color: rgb(75, 24, 13);
	}

.portfolio {

}


.p-img {
	text-align: center;
	width: 100%;
	overflow: hidden;
	margin: auto;
}

.resume {
	padding-left: 10%;
}

img.contact {
	width: 32px;
	height: 32px;
}

.contact > p > span {
	padding-left: 30px;
	font-size: 80%;
}

img.coursera {
	width: 16px;
	height: 16px;
	padding-right: 10px; 
}


@media (max-width: 767px) { 

	.bio {
		padding: 5px;
	}

	.gravatar img{
		height: 280px;
		width: auto;
		margin: 0px;
		float: right;
	}

	.content {
		padding: 2px;
	}

	.p-img div{
		margin: auto;
	}

	.p-text {
		text-align: left;
	}

	.nav {
		text-align: right;
		position: fixed;
		right: 20px;
		top: 0px;
		opacity: 0.95;
	}

		.nav li {
			float: left;
			text-align: left;
		}

			.nav .en, .nav .pt{
				visibility: hidden;
				position: fixed;
			}

			.nav li a{
				width: auto;
				height: auto;
				padding: 0px;
			}

			.nav .icon {
				height: 28px;
				width: 28px;
				padding: 5px;
				background-color: #ccc;

			}

			.nav .icon:hover{
				background-color: #eee;
			}

		.flags {
			float: right;
			margin: 0;
			height: 28px;
			margin: 0 5px 0 5px;
		}

			.flag {
				margin: 10px;
			}

    

    #header {
    	text-align: center;
    }

    #header img {
		max-width: 100px;
	}
}


@media (max-width: 580px) {

	body {
		margin-top: 30px
	}

	.nav {
		right: 0px;
		top: 0px;
		width: 100%;
		height: 30px;
	}

	.nav .icon, .flags{
		height: 100%;
		padding: 0;
	}

	.gravatar{
		display: none;
	}

	.bio {
		font-size: 14px;
		line-height: 120%;
	}
}