@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  background: #333;
}
body {
  background: white;
  color: #333;
  height: 297mm;
  width: 210mm;
  margin: 5px auto;
  padding: 5px;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
  columns: 2;
  padding: 10mm 20mm 10mm 20mm;
}
@page
{
  size: auto;   /* auto is the initial value */
  /* the margin in the printer settings */
  margin: 0mm;
  -webkit-margin: 0mm;
}
@media print {
  html {
    background: transparent;
  }
  body {
    font-size: 90%;
    background: transparent;
  }
}
@media screen and (max-width: 215mm) {
  body {
    width: auto;
    height: auto;
    margin: 0;
    columns: unset;
    padding: 5vh 5vw 15vh 5vw;
  }
  .printMe  {
    bottom: 0;
    top: unset;
  }
}

section {
  break-inside: avoid-column;
  page-break-inside: avoid;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 10px 0;
}

li {
  border-right: 5px solid #f43f10AA;
  padding-right: 8px;
}

li li {
  border-right: 5px solid #f43f1066;
}

li > div {
  display: flex;
}

p {
  margin: 0;
  line-height: 1.5;
  padding: 0 5px;
  text-align: justify;
}

h2 {
  padding: 20px 0 15px 0;
  margin: 0;
  border-bottom: 1px solid #f43f10AA;
}

h3 {
  background: #f43f10AA !important;
  color: white !important;
  margin: 0;
  line-height: 2;
  padding: 0 10px;
  font-size: 1em;
}
label {
  line-height: 1.5;
  padding: 0 15px 0 2px;
  color: #f43f1099;
  font-weight: bold;
  box-sizing: border-box;
}

a {
  display: block;
  color: #f84e41;
  line-height: 1.5;
}

li.skill {
  display: inline-block;
  background: #fbb29f;
  margin: 2px;
  color: #644;
  padding: 2px 7px 2px 2px;
}

.printMe {
  position: fixed;
  top: 0;
  left: 0;
  background: #fbb29f;
  padding: 1mm 2mm;
  border: 1px solid #f77f5f;
  border-radius: 4px;
  font-size: 190%;
  margin: 4mm;
  box-shadow: 0px 3px 4px #00000080;
  transition: background 200ms, box-shadow 200ms;
  cursor: pointer;
}
.printMe:hover, .printMe :focus {
  box-shadow: 0px 3px 8px #00000080;
  background: #fbb29f88;
}
