@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
 background: #333;
}
body {
 background: white;
 color: #333;
 height: 297mm;
 width: 210mm;
 margin: 5px auto;
 padding: 5px;
 box-sizing: border-box;
 border: 1px solid #999;
 font-family: Ubuntu, sans-serif;
 columns: 2;
 padding: 10mm 20mm 10mm 20mm;
}
@page
{
   size: auto;   /* auto is the initial value */
   /* the margin in the printer settings */
   margin: 0mm;
   -webkit-margin: 0mm;
}

section {
 break-inside: avoid-column;
 page-break-inside: avoid;
}

ul {
 list-style: none;
 padding-left: 0;
 margin: 0 0 10px 0;
}

li {
 box-shadow: -5px 0 #f43f10AA inset;
 padding-right: 8px;
}

li li {
 box-shadow: -5px 0 #f43f1066 inset;
}

li > div {
  display: flex;
}

p {
 margin: 0;
 line-height: 1.5;
 padding: 0 5px;
 text-align: justify;
}

h2 {
 padding: 20px 0 15px 0;
 margin: 0;
 border-bottom: 1px solid #f43f10AA;
}

h3 {
 background: #f43f10AA;
 color: white;
 margin: 0;
 line-height: 2;
 padding: 0 10px;
 font-size: 1em;
}
label {
 line-height: 1.5;
 padding: 0 15px 0 2px;
 color: #f43f1099;
 font-weight: bold;
 box-sizing: border-box;
}

a {
 display: block;
 color: #f84e41;
 line-height: 1.5;
}

li.skill {
  display: inline-block;
  background: #fbb29f;
  margin: 2px;
  color: #644;
  padding: 2px 7px 2px 2px;
}
